@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";
/*@import url("asciidoctor-default.css");*/
/*https://docs.asciidoctor.org/asciidoctor/latest/html-backend/default-stylesheet/*/

div.tableblock > table, th {
    background: #f4f4f4;
    position: -webkit-sticky;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

kbd {
    color: red;
    font-size: .85em;
    background-color: #f7f7f7;
    border: 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-color: red;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 .1em
}